
   
            body{
                padding: 0;
                margin: 0;
                font-family:Calibri,Helvetica,sans-serif;
                color:rgb(139, 189, 236);
            }
            nav {
                display: flex;
                justify-content: space-between;
                background-color:#fc9b8a;
                color: rgb(138, 31, 31);
                padding-inline: 15px;
            }
            .container{
                padding: 50px;
                background-color:chocolate;

            }
            input[type=text],input[type=password],textarea{
                width:100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                display:inline-block;
                border:none;
                background:#ee7676;
            }
            input[type=text]:focus,input[type=password]:focus{
                background-color:coral;
                outline:none;

            }
            div{
                padding:10px 0;

            }
            hr{
                border: 1px solid #f1f1f1;
                margin-bottom: 25px;

            }
            .registerbtn{
                background-color:#4caf50;
                color:white;
                padding: 16px 20px;
                margin:8px 0;
                border:none;
                cursor:pointer;
                width:100%;
                opacity:0.9;

            }
            .registrationbtn:hover{
                opacity:1;
            }


        
